<div class="container">
  <div class="row mb-4">
    <h2>Order {{ order.id }}</h2>
  </div>
  <dl class="row">
    <dt class="col-sm-3">Created</dt>
    <dd class="col-sm-9">{{ order.created | date }}</dd>
  </dl>
  <dl class="row">
    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">{{ order.email }}</dd>
  </dl>
  <dl class="row">
    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9"><span class="badge badge-primary px-3 py-2">{{ order.status }}</span></dd>
  </dl>
  <div class="row mt-5">
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of order.lines">
          <th scope="row">{{ line.description }}</th>
          <td>{{ line.quantity }}</td>
          <td>{{ line.unitPrice | currency:'usd':true }}</td>
          <td>{{ line.price | currency:'usd':true }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="text-right font-weight-bold h4">Total: {{ order.totalPrice | currency:'usd':true }}</p>
  <div class="row mt-4">
    <div class="col-3">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Shipping address:</h6>
            <address>
              <strong>{{ order.shippingAddress.firstName }} {{ order.shippingAddress.lastName }}</strong><br>
              {{ order.shippingAddress.address1 }} {{ order.shippingAddress.address2 }}<br>
              {{ order.shippingAddress.city }}, {{ order.shippingAddress.state }} {{ order.shippingAddress.zip }}<br>
            </address>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Billing address:</h6>
            <address>
              <strong>{{ order.billingAddress.firstName }} {{ order.billingAddress.lastName }}</strong><br>
              {{ order.billingAddress.address1 }} {{ order.billingAddress.address2 }}<br>
              {{ order.billingAddress.city }}, {{ order.billingAddress.state }} {{ order.billingAddress.zip }}<br>
            </address>
          </div>
        </div>
      </div>
  </div>
</div>
