<div class="container">
  <div class="card">
    <h4 class="card-header">Product1</h4>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <img data-width="350" data-height="300" src="https://placehold.it/350x300/EEE04A">
        </div>
        <div class="col">
          <p class="cart-text mb-0">Price:</p>
          <h4 class="card-title mb-4">100 $</h4>
          <div class="input-group mb-1">
            <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">-</button>
                </span>
            <input type="number" class="form-control" value="1">
            <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">+</button>
                </span>
          </div>
          <div class="text-right">
            <a href="#" class="btn btn-primary">Add to card</a>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <p class="card-text">Here can be super long text description</p>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">Back</a>
    </div>
  </div>
</div>
