<div class="container">
  <h3>User management</h3>
  <div class="clearfix">
    <a class="btn btn-success float-right mb-3" [routerLink]="['/users/add']">Add</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>User role</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async">
        <td>{{ user.email }}</td>
        <td>{{ user.userRole }}</td>
        <td>
          <a [routerLink]="['/users/update', user.id]">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
