<div class="container">
  <h3>{{ isUpdate() ? "Update user" : "Add new user" }}</h3>
  <div class="alert alert-danger" role="alert" *ngIf="formErrors['']">
    {{ formErrors[''] }}
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="alert alert-info" *ngIf="isUpdate()">
      If you don't want to change password, leave Password and Confirm password fields empty
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="email">User role</label>
      <select class="form-control" formControlName="userRole">
        <option value="Admin">Administrator</option>
        <option value="UserManager">Manager</option>
        <option value="RegularUser">User</option>
      </select>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm password</label>
      <input type="password" class="form-control" id="confirm password" placeholder="Password" formControlName="confirmPassword">
    </div>
    <button type="button" class="btn" routerLink="/users">Back</button>
    <button type="submit" class="btn btn-success" [disabled]="!form.valid || form.disabled">Save</button>
    <button *ngIf="isUpdate() && (currentUser$ | async).id !== id" type="button" class="btn btn-danger float-right" (click)="delete()">Delete</button>
  </form>
</div>
