@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@model Collection<ApiDescription>

@{
    ViewBag.Title = "ToptalShop API";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                To be able to call API, you have to add Authorization header with every HTTP call (except of POST api/User).
            </p>
            <p>
                Authorization header is in format Bearer {AccessToken}.
            </p>
            <p>
                @{
                    var tokenUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/token";
                }
                To get access token, you have sent POST request to <a href="@tokenUrl">@tokenUrl</a> with body in <i>x-www-form-urlencoded</i> format.
            </p>
            <p>
                Parameters are:
                <ul>
                    <li>username: email of user, with which you want to login</li>
                    <li>password: password of the user</li>
                    <li>grant_type: value password</li>
                </ul>
            </p>
            <p>Example Request:
                <pre>
    username=user@example.com&password=userpassword&grant_type=password
</pre>
            </p>
            <p>
                Example Response:
                <pre>
{
  "access_token": "access token",
  "token_type": "bearer",
  "expires_in": 1209599,
  "userName": "administrator@toptalshop.com",
  ".issued": "Thu, 9 Sept 2017 20:46:03 GMT",
  ".expires": "Thu, 23 Sept 2017 20:46:03 GMT"
}
</pre>
            </p>
            <p>Token is valid for 2 weeks. Use access_token to authorize in all subsequent API calls.</p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
