<div class="container">
  <h2>Register</h2>
  <div class="alert alert-success" role="alert" *ngIf="registerSuccess">
    Registration successful! You can <a routerLink="/login">Login</a> now.
  </div>
  <div *ngIf="!registerSuccess">
    <div class="alert alert-danger" role="alert" *ngIf="formErrors['']">
      {{ formErrors[''] }}
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="email">Email address</label>
        <input [ngClass]="{'is-invalid': formErrors['email'] }" type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email">
        <div class="invalid-feedback">{{ formErrors['email'] }}</div>
      </div>
      <div formGroupName="passwordGroup">
        <div class="form-group">
          <label for="password">Password</label>
          <input [ngClass]="{'is-invalid': formErrors['password'] }" type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
          <div class="invalid-feedback">{{ formErrors['password'] }}</div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm password</label>
          <input [ngClass]="{'is-invalid': formErrors['confirmPassword'] || formErrors['passwordGroup'] }" type="password" class="form-control" id="confirm password" placeholder="Password" formControlName="confirmPassword">
          <div class="invalid-feedback">{{ formErrors['confirmPassword'] }}</div>
          <div class="invalid-feedback">{{ formErrors['passwordGroup'] }}</div>
        </div>
      </div>
      <div class="form-group">
        <re-captcha formControlName="recaptcha" [siteKey]="recaptchaKey"></re-captcha>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!form.valid || form.disabled">Register</button>
    </form>
  </div>
</div>
