<div class="container" *ngIf="product">
  <div class="card">
    <h4 class="card-header">{{ product.name }}</h4>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <img data-width="350" data-height="300" src="https://placehold.it/350x300/EEE04A">
        </div>
        <div class="col">
          <h2 class="card-title mt">Price: {{ product.price | currency:'USD':true }}</h2>
          <p class="card-text">{{ product.description }}</p>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a routerLink='/' class="btn btn-success">Back</a>
      <button (click)="addProductToCart()" href="#" class="btn btn-primary float-right">Add to card</button>
    </div>
  </div>
</div>
